@import url(reset.css);
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');


/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* site-wide styles */

body{
    font-family: 'Open Sans', sans-serif;
    color: hsla(26, 8%, 30%, 1);
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
}


/*home page*/

.header{
    background-image: 
        /* radial-gradient(circle, rgba(2,0,36,0) 0%, rgba(9,9,121,0) 35%, rgba(0,0,0,0.9923319669664741) 100%),         */
        /* radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43771011822697825) 19%, rgba(0,0,0,0.9923319669664741) 100%), */
        radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.43771011822697825) 18%, rgba(0,0,0,0.9923319669664741) 94%),
        url(../images/IMG_3451.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 3fr 1fr;

    height: 85vh;
}

#home-julia-logo{
    width: 100px;
    margin: 5vmin;

    grid-column: 1/2;
    grid-row: 1/2;
}

.global-nav{
    grid-column: 2/3;
    grid-row: 1/2;
}

.global-nav-ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.global-nav-ul > li{
    display: flex;
    justify-items: center;
}


#close-menu{
    display: none;
}


/* underline code from this codepen: https://codepen.io/jstn/pen/zuDst */

.global-nav-ul > li > a {
    color: white;
    margin: 2vmin;
    padding: 0px 15px 15px 15px;
    position: relative;
}
.global-nav-ul > li > a:after {    
    /* background: none repeat scroll 0 0 transparent; */
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.global-nav-ul > li > a:hover:after { 
    width: 100%; 
    left: 0; 
}


#home-intro{
    grid-column: 2/3;
    grid-row: 2/3;

    color: white;
}

#home-title{
    font-size: 3rem;
    margin-right: 15vw;
}

#home-intro >p{
    font-size: 1rem;
    margin-right: 15vw;
}

#home-button{
    margin-top: 7vmin;
}

#home-button a{
    border: 2px solid white;
    border-radius: 8px;
    padding: 2vmin;
    color: white;
    text-decoration: none;
}

#home-button a:hover{
    /* color: #60bdb3; */
    /* color: hsla(213, 23%, 48%, 0.95); */
    color: hsla(249, 80%, 56%, 1);
    /* border: 2px solid #60bdb3; */
    /* border: 2px solid hsla(213, 23%, 48%, 0.95); */
    border: 2px solid hsla(249, 80%, 56%, 1);
    ;
    transition: ease-in-out 0.3s;
    
}

/* pages header styles */

.page-header{
    /* background: black; */
    height: 50vh;
    grid-template-columns: 15vw 3fr;
}

.page-julia-logo{
    height: 100px;
    margin: 3vmin;

    grid-column: 1/2;
}

.page-title{
    grid-column: 2/3;
    grid-row: 2/3;
    color: white;
    align-self: center;
}



/* menu and hamburger styling */


.hamburger-menu {
    background: url('../images/menu.svg');
    height: 40px;
    width: 40px;
    background-size: 40px;
    margin: 20px;
    display: none; /*so it doesn't show up at desktop size*/

    /* grid */
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
}

#close-menu {
    background: url('../images/close.svg');
    height: 30px;
    width: 30px;
    background-size: 30px;
    display: none;
    align-self: flex-end;
    margin: 15px;
}

/* web dev page styling */

.web-main-flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* possible color option */
    /* background: black;
    color: white; */
}

.web-section-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vmin;
}

.web-screenshot{
    width: 60vw;
    border-radius: 10px;
    border: 1px solid rgba(28,28,28,0.4);
    box-shadow: 0px 3px 28px -3px rgba(28,28,28,1);

}

.web-screenshot:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.web-section-flex > article{
    max-width: 40ch;
    margin: 5vmin;
}

.web-section-flex > article > a{
    text-decoration: none;
    color: hsla(249, 80%, 56%, 1);
}

.web-section-flex > article > a:hover{
    color: hsla(249, 85%, 70%, 1);
}

/* media query smaller screen */

footer{
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 15vh;
    margin-bottom: 0;
}

footer > p{
    margin: 1vmin;
}

footer > p > a{
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}

footer > p > a:hover{
    color: hsla(249, 80%, 56%, 1);
}


/* art and photos page */

.art-photos-section{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.art-photos-section > img{
    width: 300px; 
    /* width: auto; */
    margin: 3vmin;
}

.invisible{
    display: none;
}




@media (max-width: 900px){
    nav {
        position: fixed; 
        top: 0;
        bottom: 0;
        right: -250px;
        width: 250px;
        height: 100vh;
        
        transform: translateX(250px);

        background: hsla(213, 23%, 8%, 0.95);
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .menu-open{
        transform: translateX(-250px);
        transition: 0.2s;
        /* cubic bexier?? */
    }

    .menu-close{
        transform: translateX(0px);
        transition: 0.2s;
    }

    .hamburger-menu, #close-menu{
        display: block; 
    }

    nav ul{
        flex-direction: column;
        justify-content: flex-start;
    }

    nav ul li{
        flex-grow: 0;
        align-self: flex-start;
    }

    #home-julia-logo{
        height: 100px;
    }

    .header{
        grid-template-columns: 15vw 3fr;
        grid-template-rows: 1fr 4fr 1fr;
    }

    /* web page flexbox small screen */

    .web-section-flex{
        flex-direction: column;
    }

    .web-section-flex > article{
        max-width: 70ch;
        /* margin: 5vmin; */
    }

    .web-screenshot{
        width: 80vw;
    }
}

@media (max-width: 400px){
    .header{
        grid-template-columns: 15vw 3fr;
        grid-template-rows: 1fr 4fr 1fr;
        height: 90vh;
    }

    #home-intro{
        align-self: center;
    }

    #home-button a{
        padding: 3vmin;
    }

    footer{
        height: 10vh;
    }
}
